<div class="card m-3">
    <div class="card-header">
        Random box
    </div>
    <div class="card-body d-flex justify-content-center flex-column align-items-center">
        <app-randomizer (generatedNumEvent)="onNumberGenerate($event)"></app-randomizer>
        <div class="d-flex m-3">
            <div class="me-2">
                <p>Even numbers</p>
                <p *ngIf="evenNumArray.length == 0">-</p>
                <ul class="list-group">
                    <li class="list-group-item border border-success" *ngFor="let evenNum of evenNumArray">
                        {{evenNum}}
                    </li>
                </ul>
            </div>

            <div class="ms-2">
                <p>Odd numbers</p>
                <p *ngIf="oddNumArray.length == 0">-</p>
                <ul class="list-group">
                    <li class="list-group-item border border-warning" *ngFor="let oddNum of oddNumArray">
                        {{oddNum}}
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
<app-modal #modal></app-modal>